# Simkl API Credentials
SIMKL_CLIENT_ID=your_simkl_client_id
SIMKL_CLIENT_SECRET=your_simkl_client_secret
SIMKL_ACCESS_TOKEN=

# Export Paths
TRAKT_EXPORT_DIR=/Users/winks/Downloads/trakt-export-geekwinks
MAL_EXPORT_FILE=/Users/winks/Downloads/animelist_1784747731_-_11369504.xml
NUVIO_EXPORT_FILE=/Users/winks/Downloads/nuvio_custom_collection_2026-07-22.json
